.controlScreen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
  border-radius: 1rem;
  transition: all 0.6s ease;
  padding: 0 4rem;

  nav {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 1.25rem 0;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.25s ease;
      font-family: "LuckyGuy";
      color: rgba(200, 200, 200, 1);
      font-size: 1.5rem;

      &:hover {
        transform: scale(1.05);
        color: white;
        filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
      }
    }

    .btnActive {
      transform: scale(1.05);
      color: white;
      filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
    }
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
  }

  .controlContentContainer {

    .infoBox {
      width: 300px;
      height: 300px;
      background-color: green;
    }

    .controlsBox {
      width: 300px;
      height: 300px;
      background-color: yellow;
    }

    .settingsBox {
      width: 300px;
      height: 300px;
      background-color: red;
    }
  }
}

.transformControlScreen {
  top: -100%;
}


