.endBossLifeBar {
  position: absolute;
  z-index: 3000;
  bottom: 3.5rem;
  right: 90px;
  width: 148px;
  height: 16px;
  background: rgb(191, 210, 240);
  background: linear-gradient(0deg, rgba(191, 210, 240, 1) 55%, rgba(255, 255, 255, 1) 100%);
  border-radius: 100vh;
  border: 1.5px solid white;

  img {
    transform: scaleX(-1);
    height: 100px;
    position: absolute;
    right: -70px;
    bottom: -25px;
  }
}
