.mobileBtnMoveBox {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  -webkit-user-select: none;
  touch-action: manipulation;
  user-select: none;

  .moveBoxUpper {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .moveUpBtn {
      transform: rotate(-90deg);
    }
  }

  .moveBoxMiddle {
    display: flex;
    justify-content: center;
    gap: 40px;

    .moveLeftBtn {
      transform: rotate(180deg);
    }

    .moveRightBtn {
    }
  }
  .moveBoxLower {
    display: flex;
    justify-content: center;

    .moveDownBtn {
      transform: rotate(90deg);
    }
  }
}

.mobileBtnAttackBox {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 60px;
  -webkit-user-select: none;
  touch-action: manipulation;
  user-select: none;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100vh;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(127, 255, 224, 0.7);
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
}

.img {
  width: 36px;
  height: 36px;
  -webkit-user-select: none; /* Deaktiviert die Auswahl des Bildes */
  -webkit-touch-callout: none; /* Verhindert das Kontextmenü (iOS/Safari) */
  user-select: none; /* Für andere Browser */
  touch-action: none; /* Deaktiviert alle Touch-Aktionen */
  -webkit-user-select: none;
}
