.startScreen {
  width: 100%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/3. Background/Mesa de trabajo 1.png");
  background-size: cover;
  background-position: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
