@import "./fonts.scss";
@import "./var.scss";
@import "./blackScreen.scss";
@import "./loadingScreen.scss";
@import "./startScreen.scss";
@import "./canvas.scss";
@import "./endBossStyles.scss";
@import "./looseScreen.scss";
@import "./winScreen.scss";
@import "./controlScreen";
@import "./default.scss";

@font-face {
  font-family: "LuckyGuy";
  src: url("../assets/font/LuckiestGuy-Regular.ttf") format("woff2"), sans-sarif;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "LuckyGuy";
  color: white;
}

.rotateOverlay {
  display: none;
  position: absolute;
  z-index: 20000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/img/3. Background/Legacy/Dark/1.png");
  background-size: cover;

  @media (hover: none) and (orientation: portrait) {
    display: block;
  }

  div {
    background-color: rgba(0, 0, 0, 0.78);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    img {
      width: 96px;
      height: 96px;
    }

    p {
      font-size: 2rem;
    }
  }
}

main {
  position: relative;
  height: 100dvh;
  background-image: url("../../assets/img/3. Background/Dark/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (hover: none) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: 900px) and (orientation: landscape) {
    width: 100vw;
    height: 100vh;
    font-weight: bold;
  }

  h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .display {
    width: 853px;
    height: 480px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
    overflow: hidden;

    @media (max-width: 900px) and (orientation: landscape) {
      width: 100vw;
      height: 100vh;
      top: 0;
      border-radius: 0;
    }

    .controlButton {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 10000;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      border-radius: 100vh;
      transition: all 0.25s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
      }

      img {
        width: 32px;
        height: auto;
        transition: all 0.25s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
        filter: drop-shadow(0 0 1.3rem rgba(255, 255, 255, 1));
        animation-timing-function: ease-out;
      }
      100% {
        transform: scale(1);
        animation-timing-function: ease-in;
      }
    }

    .buttonPulse {
      animation: pulse 1s infinite;

      &:hover {
        background-color: transparent;
        filter: none;

        img {
          transform: none;
        }
      }
    }
  }
}
