.blackScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 5000;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.loadingScreen {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingScreen p {
  color: white;
  font-size: 700;
  font-family: "LuckyGuy";
  font-size: 4rem;
}

.startScreen {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/3. Background/Mesa de trabajo 1.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.startScreen p {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-wrap: nowrap;
  font-size: 3rem;
  color: white;
  font-family: "LuckyGuy";
}
.startScreen .startButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
  right: 8rem;
  transition: all 0.25s ease;
}
.startScreen .startButton:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
}
.startScreen .startButton img {
  width: 200px;
  height: auto;
}

.canvas {
  background-color: black;
  width: 100%;
  height: 100%;
}

.looseScreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  padding: 2rem 0;
}
.looseScreen p {
  font-size: 6rem;
  color: white;
  text-align: center;
  font-family: "LuckyGuy";
}
.looseScreen .deadSharky {
  width: 400px;
  height: auto;
  position: absolute;
  z-index: -1;
  filter: drop-shadow(0 0 16px rgb(255, 255, 255));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.looseScreen .tryAgainButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.looseScreen .tryAgainButton img {
  width: 200px;
  height: auto;
}
.looseScreen .homeBtn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 32px;
  height: 32px;
  z-index: 10;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 16px;
  transition: all 0.25s ease;
  cursor: pointer;
}
.looseScreen .homeBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
  transform: scale(1.05);
}
.looseScreen .homeBtn img:hover {
  transform: scale(1.05);
}

.winScreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/6.Botones/Tittles/You win/Mesa de trabajo 1.png");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  position: absolute;
  z-index: 1000;
  transition: all 0.5s ease;
}
.winScreen .tryAgainButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.winScreen .tryAgainButton img {
  width: 200px;
  height: auto;
}
.winScreen .homeBtn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 32px;
  height: 32px;
  z-index: 10;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 16px;
  transition: all 0.25s ease;
  cursor: pointer;
}
.winScreen .homeBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
  transform: scale(1.05);
}
.winScreen .homeBtn img:hover {
  transform: scale(1.05);
}

.controlScreen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
  border-radius: 1rem;
  transition: all 0.6s ease;
}
.controlScreen nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 1.25rem 0;
}
.controlScreen nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: "LuckyGuy";
  color: rgb(200, 200, 200);
  font-size: 1.5rem;
}
.controlScreen nav button:hover {
  transform: scale(1.05);
  color: white;
  filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
}
.controlScreen nav .btnActive {
  transform: scale(1.05);
  color: white;
  filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
}
.controlScreen .divider {
  width: calc(100% - 8rem);
  height: 2px;
  background-color: white;
  border-radius: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.7rem;
  padding: 0 4rem;
}
.controlScreen .controlContentContainer {
  width: calc(100% - 8rem);
  margin-left: auto;
  margin-right: auto;
  min-height: 320px;
}
.controlScreen .controlContentContainer .infoBox {
  font-size: 1.13rem;
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
  word-spacing: 0.25rem;
}
.controlScreen .controlContentContainer .controlsBox {
  width: 100%;
  min-height: 320px;
  font-family: "LuckyGuy";
  font-size: 1.5rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.controlScreen .controlContentContainer .controlsBox .controlsBoxUpper {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.controlScreen .controlContentContainer .controlsBox .controlBar {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.controlScreen .controlContentContainer .controlsBox .controlBar img {
  padding-top: 1rem;
  height: 70px;
  width: auto;
}
.controlScreen .controlContentContainer .settingsBox {
  background-color: red;
  width: 100%;
  min-height: 320px;
}
.controlScreen .homeBtn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 32px;
  height: 32px;
  z-index: 10;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 16px;
  transition: all 0.25s ease;
  cursor: pointer;
}
.controlScreen .homeBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
  transform: scale(1.05);
}
.controlScreen .homeBtn img:hover {
  transform: scale(1.05);
}
.controlScreen .imprintBtnBox {
  position: absolute;
  z-index: 10000;
  left: -1rem;
  bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 2rem;
  color: rgb(200, 200, 200);
  transform: rotate(-90deg);
  transition: all 0.25s ease;
}
.controlScreen .imprintBtnBox:hover {
  color: white;
}
.controlScreen .imprintBtnBox:hover div img {
  filter: drop-shadow(0 0 3px rgb(255, 255, 255));
}
.controlScreen .imprintBtnBox p {
  font-size: 0.75rem;
}
.controlScreen .imprintBtnBox img {
  width: 1.13rem;
  height: auto;
  transition: all 0.25s ease;
}
.controlScreen .imprintBtnBox .arrowDownBox {
  display: flex;
  align-items: center;
  width: 1.13rem;
}
.controlScreen .imprintBtnBox .arrowDownBox .arrowDown {
  transform: rotate(90deg);
}
.controlScreen .imprintBtnBox .arrowUpBox {
  display: flex;
  align-items: center;
  width: 1.13rem;
}
.controlScreen .imprintBtnBox .arrowUpBox .arrowUp {
  transform: rotate(-90deg);
}
.controlScreen .imprint {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgb(30, 30, 30);
  overflow: auto;
  padding: 2rem calc(4rem - 8px) 2rem 4rem;
  z-index: 50;
  transition: all 0.6s ease;
  border-radius: 1rem;
}
.controlScreen .imprint::-webkit-scrollbar {
  width: 8px;
}
.controlScreen .imprint::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}
.controlScreen .imprint::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 4px;
}
.controlScreen .transformImprint {
  top: 0%;
}

.transformControlScreen {
  top: -100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.d_none {
  display: none !important;
}

.d_block {
  display: block;
}

.d_flex {
  display: flex;
}

.opacity_zero {
  opacity: 0;
}

.visibility_hidden {
  visibility: hidden;
}

@font-face {
  font-family: "LuckyGuy";
  src: url("../assets/font/LuckiestGuy-Regular.ttf") format("woff2"), sans-sarif;
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "LuckyGuy";
  color: white;
}

main {
  position: relative;
  height: 100dvh;
  background-image: url("../../assets/img/3. Background/Dark/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1000px) and (orientation: landscape) {
  main {
    width: 100vw;
    height: 100vh;
    font-weight: bold;
  }
}
main h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
main .display {
  width: 853px;
  height: 480px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
  box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
@media (max-width: 1000px) and (orientation: landscape) {
  main .display {
    width: 100vw;
    height: 100vh;
    top: 0;
  }
}
main .display .controlButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 100vh;
  transition: all 0.25s ease;
}
main .display .controlButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.7));
}
main .display .controlButton img {
  width: 32px;
  height: auto;
  transition: all 0.25s ease;
  cursor: pointer;
}
main .display .controlButton img:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=style.css.map */